---
name: Release to Galaxy

on:
  push:
    tags:
      - '*'

jobs:
  release:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2

      - name: Set up Python 3
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -q ansible

      - name: Import role into Ansible Galaxy
        run: ansible-galaxy role import --api-key ${GALAXY_API_KEY} $(echo ${{ github.repository }} | cut -d/ -f1) $(echo ${{ github.repository }} | cut -d/ -f2)
        env:
          GALAXY_API_KEY: ${{ secrets.GALAXY_API_KEY }}
